[Desktop Entry]
Version=1.1
Name=Firefox web browser
Comment=Browse the world wide web
GenericName=Web Browser
Keywords=Internet;WWW;Browser;Web;Explorer;IPFS
Exec=/usr/bin/firefox-esr %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firefox-esr
Categories=GNOME;GTK;Network;WebBrowser;
MimeType={{ firefox_mimetypes | join(";") }}
StartupNotify=true
